@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Gentona', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gm-style iframe + div {
  border: none !important;
  font-family: 'Gentona', sans-serif;
}
