.newLeft {
  margin-top: 80px;
  margin-left: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  padding: 0.5rem 1.5rem;
  min-width: 410px;
  width: calc(20%);
  /* height: 60px; */
}

.leftHeaderStack {
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 500px;
  min-width: 410px;
  width: calc(30%);
  max-width: 500px;
  height: 60px;
}

.rightHeaderStack {
  margin-top: 20px;
  margin-right: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0.25rem 1rem;
  border-radius: 500px;
  width: calc(20%);
  max-width: 400px;
  background-color: white;
  height: 60px;
}

.header {
  top: 20px;
  left: 20px;
  position: absolute;
  width: 100%;
}

.Image {
  padding: 10px;
}
